/* Navbar container */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

/* Navbar items */
.navbar-nav {
  margin-right: 7rem; /* Reset margin if not needed */
}

.navbar-nav .nav-item {
  margin-left: 20px; /* Adjust this value as needed */
}

.navbar-nav .nav-item .nav-link {
  transition: transform 0.3s, text-shadow 0.3s, color 0.3s; /* Smooth transition for hover effect */
  text-decoration: none; /* Remove underline from links */
}

/* Hover effect for navbar items except 'Trang chủ' */
.navbar-nav .nav-item:not(.home-link):hover .nav-link,
.navbar-nav .nav-item:not(.home-link) .nav-link.active {
  transform: translateY(-3px); /* Moves text up */
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Adds shadow to give a "pop-up" effect */
  color: #ff69b4; /* Changes font color to pink on hover */
}

/* Ensure 'Trang chủ' does not change color on hover */
.navbar-nav .nav-item.home-link .nav-link {
  color: inherit; /* Keeps the default color */
}

/* Dropdown menu styles */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 0rem; /* Increased spacing from the parent item */
  border-radius: 0.25rem;
  z-index: 1000;
}

/* Positioning the submenu to the right */
.dropdown-menu-end {
  left: 100%;
  margin-left: 0.25rem; /* Increased spacing between submenu and parent */
}

.dropdown-submenu {
  position: relative;
}

/* Show submenu on hover */
.dropdown-submenu:hover .dropdown-menu {
  display: block;
  top: 0; /* Adjust top position if needed */
}

/* Hover effect for dropdown items */
.dropdown-menu .dropdown-item:hover {
  transform: translateY(-2px); /* Moves text up */
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); /* Adds shadow to give a "pop-up" effect */
  color: #ff69b4; /* Changes font color to pink on hover (HotPink) */
}
.navbar-spacer {
  height: 200px; /* Adjust this value to match the height of the navbar */
}
